@use 'colors';
@use 'variables';


.flex-nav .toggleNav {
    display: none;
}

#nyil {
    position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	padding: 10px;
	display:flex;
	margin: 2rem;
	cursor: pointer;
	justify-content: center;
	z-index: 10;
}
.menu {
    background-color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    min-height: 60px;
    display: flex;
    justify-content: space-around;

    ul li {
        display: flex;
        padding: 10px;
        min-width: 12rem;
        text-align: center;
        float: left;

        a {
            color:colors.$menu_a;
            text-decoration: none;

            &:hover {
                background-color:colors.$menu_hover;
                color: darkgreen;
                text-decoration: none;
                font-weight: variables.$weight ;
                opacity: 90%;
            }
        }
    }
}