<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadik-Art</title>
</head>
<body>
   <div class="container-fluid">
       <div id="nyil">
        <img src="assets/images/nyil_lila.svg" alt="arrow up">
       </div>
       <nav class="flex-nav menu">
        <a href="#" class="toggleNav"><span class="hamburger">&#9776; Menü</span></a>
            <ul>
                <li><a routerLink="">Főoldal</a></li>
                <li><a routerLink="ceruza">Ceruza rajzok</a></li>
                <li><a routerLink="pastel">Pasztel rajzok</a></li>
                <li><a routerLink="akvarell">Akvarellek</a></li>
                <li><a routerLink="olaj">Olajfestmények</a></li>
                <li><a routerLink="kapcsolat">Kapcsolat</a></li>
            </ul>
        </nav>
   </div> 
</body>
</html>

